<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.advgm.mapper.CrGoodsCategoryMapper">
  <resultMap id="BaseResultMap" type="com.advgm.domain.CrGoodsCategory">
    <!--@mbg.generated-->
    <!--@Table cr_wms.cr_goods_category-->
    <id column="id" property="id" />
    <result column="create_name" property="createName" />
    <result column="create_by" property="createBy" />
    <result column="create_time" property="createTime" />
    <result column="update_name" property="updateName" />
    <result column="update_by" property="updateBy" />
    <result column="update_time" property="updateTime" />
    <result column="sys_org_code" property="sysOrgCode" />
    <result column="category_code" property="categoryCode" />
    <result column="category_name" property="categoryName" />
    <result column="category_level" property="categoryLevel" />
    <result column="pid" property="pid" />
    <result column="top_node" property="topNode" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, create_name, create_by, create_time, update_name, update_by, update_time, sys_org_code, 
    category_code, category_name, category_level, pid, top_node
  </sql>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update cr_wms.cr_goods_category
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="create_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.createName}
        </foreach>
      </trim>
      <trim prefix="create_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.createBy}
        </foreach>
      </trim>
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.createTime}
        </foreach>
      </trim>
      <trim prefix="update_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.updateName}
        </foreach>
      </trim>
      <trim prefix="update_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.updateBy}
        </foreach>
      </trim>
      <trim prefix="update_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.updateTime}
        </foreach>
      </trim>
      <trim prefix="sys_org_code = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.sysOrgCode}
        </foreach>
      </trim>
      <trim prefix="category_code = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.categoryCode}
        </foreach>
      </trim>
      <trim prefix="category_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.categoryName}
        </foreach>
      </trim>
      <trim prefix="category_level = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.categoryLevel}
        </foreach>
      </trim>
      <trim prefix="pid = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.pid}
        </foreach>
      </trim>
      <trim prefix="top_node = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.topNode}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into cr_wms.cr_goods_category
    (create_name, create_by, create_time, update_name, update_by, update_time, sys_org_code, 
      category_code, category_name, category_level, pid, top_node)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.createName}, #{item.createBy}, #{item.createTime}, #{item.updateName}, #{item.updateBy}, 
        #{item.updateTime}, #{item.sysOrgCode}, #{item.categoryCode}, #{item.categoryName}, 
        #{item.categoryLevel}, #{item.pid}, #{item.topNode})
    </foreach>
  </insert>
  <insert id="insertOrUpdate" keyColumn="id" keyProperty="id" parameterType="com.advgm.domain.CrGoodsCategory" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into cr_wms.cr_goods_category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      create_name,
      create_by,
      create_time,
      update_name,
      update_by,
      update_time,
      sys_org_code,
      category_code,
      category_name,
      category_level,
      pid,
      top_node,
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      #{createName},
      #{createBy},
      #{createTime},
      #{updateName},
      #{updateBy},
      #{updateTime},
      #{sysOrgCode},
      #{categoryCode},
      #{categoryName},
      #{categoryLevel},
      #{pid},
      #{topNode},
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id},
      </if>
      create_name = #{createName},
      create_by = #{createBy},
      create_time = #{createTime},
      update_name = #{updateName},
      update_by = #{updateBy},
      update_time = #{updateTime},
      sys_org_code = #{sysOrgCode},
      category_code = #{categoryCode},
      category_name = #{categoryName},
      category_level = #{categoryLevel},
      pid = #{pid},
      top_node = #{topNode},
    </trim>
  </insert>
  <insert id="insertOrUpdateSelective" keyColumn="id" keyProperty="id" parameterType="com.advgm.domain.CrGoodsCategory" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into cr_wms.cr_goods_category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createName != null">
        create_name,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateName != null">
        update_name,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="sysOrgCode != null">
        sys_org_code,
      </if>
      <if test="categoryCode != null">
        category_code,
      </if>
      <if test="categoryName != null">
        category_name,
      </if>
      <if test="categoryLevel != null">
        category_level,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="topNode != null">
        top_node,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="createName != null">
        #{createName},
      </if>
      <if test="createBy != null">
        #{createBy},
      </if>
      <if test="createTime != null">
        #{createTime},
      </if>
      <if test="updateName != null">
        #{updateName},
      </if>
      <if test="updateBy != null">
        #{updateBy},
      </if>
      <if test="updateTime != null">
        #{updateTime},
      </if>
      <if test="sysOrgCode != null">
        #{sysOrgCode},
      </if>
      <if test="categoryCode != null">
        #{categoryCode},
      </if>
      <if test="categoryName != null">
        #{categoryName},
      </if>
      <if test="categoryLevel != null">
        #{categoryLevel},
      </if>
      <if test="pid != null">
        #{pid},
      </if>
      <if test="topNode != null">
        #{topNode},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id},
      </if>
      <if test="createName != null">
        create_name = #{createName},
      </if>
      <if test="createBy != null">
        create_by = #{createBy},
      </if>
      <if test="createTime != null">
        create_time = #{createTime},
      </if>
      <if test="updateName != null">
        update_name = #{updateName},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime},
      </if>
      <if test="sysOrgCode != null">
        sys_org_code = #{sysOrgCode},
      </if>
      <if test="categoryCode != null">
        category_code = #{categoryCode},
      </if>
      <if test="categoryName != null">
        category_name = #{categoryName},
      </if>
      <if test="categoryLevel != null">
        category_level = #{categoryLevel},
      </if>
      <if test="pid != null">
        pid = #{pid},
      </if>
      <if test="topNode != null">
        top_node = #{topNode},
      </if>
    </trim>
  </insert>
</mapper>